* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(21, 19, 19);
  align-items: center;
  justify-content: center;
}

#next {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid orange;
}

#content {
  height: 400px;
  width: 800px;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  border: 2px solid orange;
  width: 400px;
  height: 100%;
  display: grid;
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border: 1px solid black;
}