* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

#board {
  border: 3px solid yellow;
  width: 400px;
  height: 400px;
  display: grid;
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}